*{
    margin: 0;
    padding: 0;
    font-family: poppins, sans-serif;
}

.footer {
    background-color: #8a8b8b; /* Light gray background */
    padding: 20px;
    color: rgb(224, 224, 224); /* White text color */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 80px;
    gap: 200px;
}

h4{
    font-size: 25px;
    margin-bottom: 10px;
}
.footer-section {
    flex: 1;
}

ul li{
    list-style: none;
    margin: 10px 0;
}
.footer-section ul li a:hover {
    transition: color 0.3s ease-in-out;
    color: #fff;
}
.footer-section ul li a:active {
    color: black
}

.footer-section ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.register{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #fff; /* Adds a bottom border to the footer */
    border-bottom: 1px solid #fff; /* Adds a bottom border to the footer */
    gap: 20px;
    margin: 25px 0px;
    padding: 60px 0px;
    color: rgb(0, 0, 0);
    font-size: 30px; 
}
.register button{
    border: none;
    border-radius: 20px;
    background-color: rgb(0, 0, 0); 
    color: white;
    padding: 8px 20px;
}

.register button:hover{
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease-in-out, transform 0.3s ease-in-out;
    color: black; /* Changes text color on hover */
    background-color: rgb(255, 255, 255); /* Changes button color on hover */
    transform: scale(1.1);
}
.register button:active{
    background-color: rgb(0, 0, 0); /* Changes button color on active */
    scale: 0.9;
}

.footer-socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: rgb(0, 0, 0); /* Sets GitHub icon color to white */
    font-size: 50px; /* Adjusts the size of the GitHub icon */

}
.fa-github{
    color: inherit;
    text-decoration: none;
}
.fa-github:hover{
    transition: color 0.3s ease-in-out, transform 0.3s ease;
    transform: scale(1.1);
    color: white;
}
.fa-github:active{
    color: black;
    scale: 0.95;
}
.fa-youtube{
    color: inherit;
    text-decoration: none;
}
.fa-youtube:hover{
    transition: color 0.3s ease, transform 0.3s ease; 
    transform: scale(1.1);
    color: red;
}
.fa-youtube:active{
    color: black;
    scale: 0.95;
}
.fa-instagram{
    color: inherit;
    text-decoration: none;
}
.fa-instagram:hover{
    transition: color 0.3s ease, transform 0.3s ease;
    color: rgb(254,8,151);
    transform: scale(1.1);
}
.fa-instagram:active{
    color: black;
    scale: 0.95;
}
/* Hello, these are test changes! */