* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ensure the body takes the full viewport height */
    background-color: rgb(236, 215, 187);
}

.container {
    width: 50%;
    height: 40vh;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: repeat(3, 1fr);

}

.item {
    width: 70%;
    height: 50%;
    border-radius: 20px;
    box-shadow: 4px 4px 18px 1px orange;
    transition: background-color 0.3s ease-out, box-shadow 0.3s ease-out, scale 0.3s ease-out;
    background-color: orange;
    user-select: none;
    cursor: pointer;

}

.item.active {
    scale: 1.05;
    background-color: rgb(255, 0, 0);
    box-shadow: 4px 4px 18px 1px rgb(226, 78, 78);
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;

}

.cell:nth-child(1) {
    border-top-left-radius: 15px;
}

.cell:nth-child(3) {
    border-top-right-radius: 15px;
}

.cell:nth-child(7) {
    border-bottom-left-radius: 15px;
}

.cell:nth-child(9) {
    border-bottom-right-radius: 15px;
}